* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
/*  ***********헤더 부분*********** */
header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(202, 189, 180);
    padding: 20px 0 10px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    margin: 0 15px;
}
header a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.logo {
    color: gray;
    font-weight: bold;
    font-size: large;
}

/* *************메인 부분 시작********** */

.newCol {
    height: 300px;
    width: 1400px;
    background: url(https://cdn.pixabay.com/photo/2017/11/04/21/09/textile-2918844_1280.jpg) no-repeat;
    background-size: cover;
    object-fit: fill;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}
.newCol a {
    font-size: 18px;
    color: rgb(47, 46, 46);
    text-decoration: underline gray;
}

/* **********첫 번쨰 section 부분******** */
.firsection {
    text-align: center;
    margin: 150px;
}

/* *****************bar부분************* */
.bar {
    content: ' ';
    border-top: 1px solid silver;
    width: 90%;
    margin-top: 130px;
    justify-content: center;
    
}

/* 푸터부분 */
footer{
    display: flex;
}
footer ul, li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}
footer div{
    width: 100px;
    /* border: 1px solid salmon; */
    padding-left: 20px;
}
